@media only screen and (max-width: 1400px) {

.header__top-panel__in { justify-content: flex-end; }

.header__contacts { margin: 0 30px 0 0; }

.main-navi ul li { 
	margin: 0 20px 0 0;
	font-size: 14px; 
	}

.promo__slider__content h2 { font-size: 70px; }

.title span { font-size: 50px; }

}

@media only screen and (max-width: 1250px) {

.header__top-panel__in { padding: 0 0 0 220px; }

.logo { width: 200px; }

.logo a { width: 200px; }

.header__social dt { font-size: 12px; }

.header__contacts li { font-size: 12px; }

.main-navi ul li { 
	margin: 0 10px 0 0;
	font-size: 13px; 
	}

}

@media only screen and (max-width: 1199px) { 

.advantage { margin: 0 -10px; }

.advantage li { padding: 0 10px; }

.advantage__item { padding: 20px; }

.advantage__item h4 { font-size: 20px; }

.title span { line-height: normal; }

.statistics__number { font-size: 44px; }

.statistics__description small { font-size: 12px; }

.statistics__description span { font-size: 20px; }

}

@media only screen and (max-width: 1100px) { 

.main-navi ul li { font-size: 12px; }

}

@media only screen and (max-width: 1050px) {

.header__top-panel { display: none; }

.header__bottom-panel { 
	border-top: 1px solid #33414d;
	background: #2f3c4c; 
	}

.logo { 
	position: relative;
	margin: 0 0 -10px; 
	z-index: 9999;
	}

.logo a { height: 70px; }

.header__bottom-panel__in { position: relative; }

.main-navi-btn { 
	position: absolute;
	display: block;
	top: 14px;
	right: 0;
	width: 40px;
	z-index: 1001;
	}

.main-navi ul { display: block; }

.main-navi ul li { 
	margin: 0 0 20px; 
	font-size: 16px;
	line-height: 26px;
	}

.main-navi ul li a { 
	position: relative;
	display: inline-block;
	vertical-align: top;
	color: #9eacbd;
	}

.main-navi ul .active a { color: #fff; }

.main-navi ul li a:hover { color: #fff; }

.header__right-col {
	z-index: 1000;
	overflow-y: auto;
	overflow-x: hidden;
	display: none;
	height: 100%;
	background: #2a3747;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	padding: 100px 30px 0;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	-webkit-animation: fade_out .25s linear both;
	-moz-animation: fade_out .25s linear both;
	-o-animation: fade_out .25s linear both;
	animation: fade_out .25s linear both; 
}
.header__right-col.show {
	-webkit-animation: fade_in .25s linear both;
	-moz-animation: fade_in .25s linear both;
	-o-animation: fade_in .25s linear both;
	animation: fade_in .25s linear both;
	display: block; 
}
.header__right-col.show .main-navi li a {
	-webkit-animation: push_text_right 0.4s cubic-bezier(0.175, 0.885, 0.32, 1) both;
	-moz-animation: push_text_right 0.4s cubic-bezier(0.175, 0.885, 0.32, 1) both;
	-o-animation: push_text_right 0.4s cubic-bezier(0.175, 0.885, 0.32, 1) both;
	animation: push_text_right 0.4s cubic-bezier(0.175, 0.885, 0.32, 1) both; }
.header__right-col.show .main-navi li:nth-child(1) a {
	-webkit-animation-delay: .45s;
	-moz-animation-delay: .45s;
	-o-animation-delay: .45s;
	animation-delay: .45s; 
}
.header__right-col.show .main-navi li:nth-child(2) a {
	-webkit-animation-delay: .55s;
	-moz-animation-delay: .55s;
	-o-animation-delay: .55s;
	animation-delay: .55s; 
}
.header__right-col.show .main-navi li:nth-child(3) a {
	-webkit-animation-delay: .65s;
	-moz-animation-delay: .65s;
	-o-animation-delay: .65s;
	animation-delay: .65s; 
}
.header__right-col.show .main-navi li:nth-child(4) a {
	-webkit-animation-delay: .75s;
	-moz-animation-delay: .75s;
	-o-animation-delay: .75s;
	animation-delay: .75s; 
}
.header__right-col.show .main-navi li:nth-child(5) a {
	-webkit-animation-delay: .85s;
	-moz-animation-delay: .85s;
	-o-animation-delay: .85s;
	animation-delay: .85s; 
}
.header__right-col.show .main-navi li:nth-child(6) a {
	-webkit-animation-delay: .95s;
	-moz-animation-delay: .95s;
	-o-animation-delay: .95s;
	animation-delay: .95s; 
}
.header__right-col.show .main-navi li:nth-child(7) a {
	-webkit-animation-delay: 1.05s;
	-moz-animation-delay: 1.05s;
	-o-animation-delay: 1.05s;
	animation-delay: 1.05s; 
}
.header__right-col.show .main-navi li:nth-child(8) a {
	-webkit-animation-delay: 1.1s;
	-moz-animation-delay: 1.1s;
	-o-animation-delay: 1.1s;
	animation-delay: 1.1s; 
}
.header__right-col.show .main-navi li:nth-child(9) a {
	-webkit-animation-delay: 1.15s;
	-moz-animation-delay: 1.15s;
	-o-animation-delay: 1.15s;
	animation-delay: 1.15s; 
}
.header__right-col.show .main-navi li:nth-child(10) a {
	-webkit-animation-delay: 1.2s;
	-moz-animation-delay: 1.2s;
	-o-animation-delay: 1.2s;
	animation-delay: 1.2s; 
} 

@-webkit-keyframes fade_in {
	0% {
		opacity: 0;
		visibility: hidden; 
	}
	100% {
		opacity: 1;
		visibility: visible; 
	}
}

@-moz-keyframes fade_in {
	0% {
		opacity: 0;
		visibility: hidden; 
	}
	100% {
		opacity: 1;
		visibility: visible; 
	}
}

@-o-keyframes fade_in {
	0% {
		opacity: 0;
		visibility: hidden; 
	}
	100% {
		opacity: 1;
		visibility: visible; 
	}
}

@keyframes fade_in {
	0% {
		opacity: 0;
		visibility: hidden; 
	}
	100% {
		opacity: 1;
		visibility: visible; 
	} 
}

@-webkit-keyframes fade_out {
	0% {
		opacity: 1;
		visibility: visible; 
	}
	100% {
		opacity: 0;
		visibility: hidden; 
	} 
}

@-moz-keyframes fade_out {
	0% {
		opacity: 1;
		visibility: visible; 
	}
	100% {
		opacity: 0;
		visibility: hidden; 
	} 
}

@-o-keyframes fade_out {
	0% {
		opacity: 1;
		visibility: visible; 
	}
	100% {
		opacity: 0;
		visibility: hidden; 
	} 
}

@keyframes fade_out {
	0% {
		opacity: 1;
		visibility: visible; 
	}
	100% {
		opacity: 0;
		visibility: hidden; 
	} 
}

@-webkit-keyframes push_text_top {
	0% {
		opacity: 0;
		-webkit-transform: translateY(60px);
		transform: translateY(60px); 
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0); 
	} 
}

@-moz-keyframes push_text_top {
  	0% {
		opacity: 0;
		-moz-transform: translateY(60px);
		transform: translateY(60px); 
	}
	100% {
		opacity: 1;
		-moz-transform: translateY(0);
		transform: translateY(0); 
	} 
}

@-o-keyframes push_text_top {
	0% {
		opacity: 0;
		-o-transform: translateY(60px);
		transform: translateY(60px); 
	}
  	100% {
		opacity: 1;
		-o-transform: translateY(0);
		transform: translateY(0); 
	} 
}

@keyframes push_text_top {
	0% {
		opacity: 0;
		-webkit-transform: translateY(60px);
		-moz-transform: translateY(60px);
		-o-transform: translateY(60px);
		transform: translateY(60px); 
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0); 
	} 
}

@-webkit-keyframes push_nav_right {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-60px);
		transform: translateX(-60px); 
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0); 
	} 
}

@-moz-keyframes push_nav_right {
	0% {
		opacity: 0;
		-moz-transform: translateX(-60px);
		transform: translateX(-60px); 
	}
	100% {
		opacity: 1;
		-moz-transform: translateX(0);
		transform: translateX(0); 
	} 
}

@-o-keyframes push_nav_right {
  	0% {
		opacity: 0;
		-o-transform: translateX(-60px);
		transform: translateX(-60px); 
	}
	100% {
		opacity: 1;
		-o-transform: translateX(0);
		transform: translateX(0); 
	} 
}

@keyframes push_nav_right {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-60px);
		-moz-transform: translateX(-60px);
		-o-transform: translateX(-60px);
		transform: translateX(-60px); 
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0); 
	} 
}

@-webkit-keyframes push_text_right {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-60px);
		transform: translateX(-60px); 
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0); 
	} 
}

@-moz-keyframes push_text_right {
	0% {
		opacity: 0;
		-moz-transform: translateX(-60px);
		transform: translateX(-60px); 
	}
	100% {
		opacity: 1;
		-moz-transform: translateX(0);
		transform: translateX(0); 
	} 
}

@-o-keyframes push_text_right {
  	0% {
		opacity: 0;
		-o-transform: translateX(-60px);
		transform: translateX(-60px); 
	}
  	100% {
		opacity: 1;
		-o-transform: translateX(0);
		transform: translateX(0); 
	} 
}

@keyframes push_text_right {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-60px);
		-moz-transform: translateX(-60px);
		-o-transform: translateX(-60px);
		transform: translateX(-60px); 
	}
  	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0); 
	} 
}

.site__layer {
	-webkit-transform: scale3d(1, 0, 1);
	-moz-transform: scale3d(1, 0, 1);
	transform: scale3d(1, 0, 1);
	-webkit-transform-origin: top;
	-moz-transform-origin: top;
	-ms-transform-origin: top;
	-o-transform-origin: top;
	transform-origin: top;
	-webkit-transition: -webkit-transform 0.4s cubic-bezier(0.43, 0.77, 0.33, 0.96);
	transition: -webkit-transform 0.4s cubic-bezier(0.43, 0.77, 0.33, 0.96);
	-o-transition: -o-transform 0.4s cubic-bezier(0.43, 0.77, 0.33, 0.96);
	-moz-transition: transform 0.4s cubic-bezier(0.43, 0.77, 0.33, 0.96), -moz-transform 0.4s cubic-bezier(0.43, 0.77, 0.33, 0.96);
	transition: transform 0.4s cubic-bezier(0.43, 0.77, 0.33, 0.96);
	transition: transform 0.4s cubic-bezier(0.43, 0.77, 0.33, 0.96), -webkit-transform 0.4s cubic-bezier(0.43, 0.77, 0.33, 0.96), -moz-transform 0.4s cubic-bezier(0.43, 0.77, 0.33, 0.96), -o-transform 0.4s cubic-bezier(0.43, 0.77, 0.33, 0.96);
	position: fixed;
	background: rgba(0, 0, 0, 0.1);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	display: none; 
	}

.site__layer.active {
	-webkit-transform: scale3d(1, 1, 1);
	-moz-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1); 
    }

}

@media only screen and (max-width: 991px) {

.promo__slider__content { height: auto; }

.promo__slider__content__in { 
	padding: 80px 0;
	height: auto; 
	}

.promo__slider__content h2 { 
	margin: 0 0 20px;
	font-size: 50px; 
	line-height: 60px;
	}

.promo__slider__content p { 
	font-size: 16px;
	line-height: 24px;
	}

.btn { 
	padding: 16px 30px 18px;
	font-size: 14px;
	}

.promo__slider .slick-dots button { 
	width: 14px; 
	height: 14px;
	}

.title small { font-size: 12px; }

.title span { 
	font-size: 40px; 
	line-height: normal;
	}

.services li { width: 50%; }

.section.statistics { padding: 50px 0; }

.statistics__list li { width: 50%; }

.statistics__item { 
	display: flex;
	padding: 50px 0; 
	justify-content: center;
	}

.works li { width: 50%; }

.page__top-panel__in { padding: 70px 0; }

.contacts-col__right { padding: 0 0 0 40px; }

.page__top-panel__title { font-size: 42px; }

.bread-crumb li { 
	margin-bottom: 5px;
	font-size: 16px; 
	}

.bread-crumb li:last-child { 
	margin-bottom: 5px;
	margin-right: 0; 
	}

.bread-crumb li:after { 
	margin: -6px 0 0;
	width: 12px;
	height: 12px;
	}

.news li { width: 50%; }

}

@media only screen and (max-width: 980px) {

.photo-list { margin: 0 -10px 20px; }

.photo-list li { 
	margin: 0 0 20px;
	padding: 0 10px; 
	}

.footer__top-panel { padding: 20px 0; }

.footer-col { 
	flex-wrap: wrap;
	margin: 0 -15px;
	}

.footer-col__item { padding: 20px 15px; }

.footer-col__item { width: 50%; }

.copy { font-size: 12px; }

.footer__link { font-size: 12px; }

.contacts-col__left { padding: 30px; }

.contacts-col__list dt { font-size: 20px; }

.contacts-col__list dd { font-size: 14px; }

}

@media only screen and (max-width: 900px) {

.advantage { 
	flex-wrap: wrap; 
	margin-bottom: 30px;
	}

.advantage li { 
	padding: 10px;
	width: 50%; 
	}

.about-col__photo { padding: 0 40px 0 0; }

.about-col__description { padding: 35px 30px 0 0; }

}

@media only screen and (max-width: 767px) {

.about-col { 
	display: block; 
	padding: 0;
	}

.about-col:before { display: none; }

.about-col__photo {
	margin: 0 0 30px;
	padding: 0; 
	width: 100%;
	}

.about-col__description { 
	padding: 0;
	width: 100%;
	}

.title { margin: 0 0 30px; }

.services__title { font-size: 16px; }

.works__title { 
	font-size: 18px; 
	line-height: normal;
	}

.works { margin: 0 -10px; }

.works li { padding: 10px; }

.works__item { padding: 20px; }

.more-link { font-size: 12px; }

.more-link a { padding: 0 18px 0 0; }

.more-link a:after { 
	margin: -5px 0 0;
	width: 10px;
	height: 10px;
	}

.map { margin: 0 0 30px; }

.contacts-col { display: block; }

.contacts-col__left { 
	margin: 0 0 30px;
	width: 100%;
	}

.contacts-col__right { 
	padding: 0; 
	width: 100%;
	}

.about-col.changed .about-col__photo { 
	max-width: 320px; 
	width: 100%;
	}

.about-col.changed .about-col__description { width: 100%; }

.small-title { 
	margin: 0 0 20px;
	font-size: 28px; 
	}

p { 
	font-size: 16px;
	line-height: 24px;
	}

}

@media only screen and (max-width: 580px) {

.page__top-panel__in { padding: 50px 0; }	

.page__top-panel__title { font-size: 36px; }

.news { margin: 0 -10px; }

.news li { padding: 10px; }

.news__item { padding: 20px; }

.news__title { 
	font-size: 18px; 
	line-height: normal;
	}

.photo-list li { width: 50%; }

.footer__title { font-size: 18px; }

.footer__bottom-panel__in { display: block; }

.footer__link { padding-top: 0; }

}

@media only screen and (max-width: 479px) {

.title span { font-size: 32px; }

p { 
	font-size: 16px;
	line-height: 24px;
	}

.advantage li { width: 100%; }

.services li { 
	padding-bottom: 20px;
	width: 100%; 
	}

.services li:last-child { padding-bottom: 0; }

.statistics__list li { width: 100%; }

.statistics__item { 
	display: block;
	padding: 0;
	}

.statistics__big-number { display: none; }

.works li { width: 100%; }

.news li { width: 100%; }

.footer-col__item { width: 100%; }

}

@media only screen and (max-width: 370px) {

.promo__slider__content { text-align: center; }

.promo__slider__content h2 { 
	font-size: 40px;
	line-height: normal;
	}

.promo__slider__content h2 br { display: none; }

.title span { font-size: 28px; }

.page__top-panel__title { font-size: 30px; }

.statistics__list li { width: 50%; }

.statistics__in { 
	display: block; 
	text-align: center;
	}

.statistics__number { margin: 0 0 10px; }

.global-table th { 
	padding: 10px;
	font-size: 16px;
	}

.global-table td { 
	padding: 10px; 
	font-size: 13px;
	}

.small-title { font-size: 24px; }

.photo-list li { padding: 0 10px; }

}

@media only screen and (max-width: 330px) {

.title span {
    font-size: 26px;
}

}